/* Inherits most of the same styles from eventsSection.module.css */

/* Adjusting only the specifics for this section */
.section {
  background: rgba(255, 255, 255, 0.7); /* Different background color */
  color: #000;
  z-index: 3; /* Ensures this section is above the previous section */
}

/* Adjust specific content container styles */
.contentContainer h2 {
  color: #000;
}

.ctaButton {
  color: #000;
  border-color: #000;
}

.ctaButton:hover {
  background-color: #000;
  color: #fff;
}
