/* components/SubscriptionModal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay */
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    z-index: 1000;            /* Ensure it's above everything */
}

.modalContent {
    background: rgb(0, 0, 0);
    padding: 3rem;
    border-radius: 12px;
    text-align: center;
    position: relative;
    max-width: 400px;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;  /* Fade-in animation */
    box-shadow: 0 0 20px #2f62b3b6;
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 80px; /* Space below the title */
  }
  
  .modalContent:hover {
    box-shadow: 0 0 30px rgba(0, 112, 243, 0.8);
  
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;

}
.closeButton :hover{
    color: #0056b3;
}

.successIcon {
    color: #0056b3;  /* Green color for success */
    font-size: 60px;  /* Large icon size */
    margin-bottom: 1rem;
}

.modalHeading {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: white;
    font-family: syne;
}

.modalText {
    font-size: 1rem;
    color: #797979;
    font-family: syne;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
