/* globals.css */

body {
  background-color: #000000 !important; /* Set background color to black */
  color: #000000; /* Set text color to white */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: 'Inter', sans-serif;

  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Apply Inter font */
}
